language: ruby

cache: bundler

rvm: 2.4.9

before_install:
  - bundle config https://gems.contribsys.com/ $BUNDLE_GEMS__CONTRIBSYS__COM

install:
  - gem install bundler:1.7.3
  - bundler -v
  - travis_retry bundle install

env:
  global:
    - PATH=/snap/bin:$PATH

jobs:
  include:
    - stage: "testing time"
      script: bundle exec rspec spec
    - stage: ":ship: it to quay.io"
      addons:
        snaps:
        - name: docker
          channel: latest/beta
      language: ruby
      before_install: skip
      install: skip
      script: make ship
      if: (branch = master and type = push ) OR commit_message =~ /ship:docker/ OR env(SHIP_DOCKER) = true
