language: ruby

cache: bundler

rvm: 2.4.9

before_install:
  - bundle config https://gems.contribsys.com/ $BUNDLE_GEMS__CONTRIBSYS__COM

install:
  - travis_retry gem install bundler -v '<2' # Ruby 2.2 depend on bundler 1.x.
  - bundler -v
  - travis_retry bundle install

jobs:
  include:
    - stage: "testing time"
      script: bundle exec rspec spec
    - stage: ":ship: it to quay.io"
      language: ruby
      before_install: skip
      install: skip
      script: make ship
      if: type = cron OR commit_message =~ /ship:docker/ OR env(SHIP_DOCKER) = true